{% extends 'base.html'%}
{% import 'macros.html' as macro%}

<!-- Styles block -->

{% block styles%}
    {{ super() }}
    <link rel="stylesheet" href="{{url_for('static',filename='css/index.css')}}">
{% endblock %}
<!-- Content block -->
{% block content %}

<div class="container">

    <h3>These are one of most important pitches you ever know,Enjoy by reading and leave us a comment</h3>
<!-- <div class ="content">

</div> -->
<!-- {% macro displayPitches(pitch_list) %}
  {% for pitches in pitch_list %}
    <div class="col-md-6">
      <div class="well">
        <div class="row">
          <div class="col-md-6">
              <h3>{{pitches.pitch_content}}</h3>
          </div>
          <div class="col-md-6">
            <p>POSTED: {{pitches.posted.strftime('%Y/%m/%d || %r')}}</p>
          
          </div>
        </div>
      </div>
    </div>
  {% endfor %}
{% endmacro %}
</div> -->

<div>
  <a href="/add/category">Choose pitch category</a>
  
</div>


{% endblock%}